
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-tagline: "Saira", sans-serif;
}


@keyframes blink {
  0%, 100% { opacity: 0.2; }
  50% { opacity: 1; }
}

.animate-blink {
  animation: blink 1.5s infinite ease-in-out;
}